# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# static files generated from Django application using `collectstatic`
media
static

# custom stuff
.idea
*.iml
data-secret
nlp2021-hw1/model/glove.6B.100d.txt
nlp2021-hw1/model/mul_leakyrelu_0.1drop_194hidden_0.0001lr_40batch_epoch_9.pt
nlp2021-hw1/model/mul_leakyrelu_0.1drop_194hidden_0.0001lr_40batch_2lstmLayer_1clipGrad_epoch_9_acc_0.6729999999999999.pt
nlp2021-hw1/model/mul_leakyrelu_0.1drop_194hidden_0.0001lr_40batch_2lstmLayer_5clipGrad_epoch_11_acc_0.6520.pt
nlp2021-hw1/model/glove.6B.300d.txt

nlp2021-hw1/model/mul_leakyrelu_0.1drop_128hidden_0.0001lr_40batch_1lstmLayer_5clipGrad_epoch_11_acc_0.6620.pt
.gitignore
nlp2021-hw1/model/mul_leakyrelu_0.1drop_128hidden_0.0001lr_40batch_1lstmLayer_5clipGrad_epoch_18_acc_0.6290.pt
nlp2021-hw1/model/glove.6B.50d.txt
nlp2021-hw1/model/diff_leakyrelu_0.1drop_194hidden_0.0001lr_40batch_2lstmLayer_5clipGrad_epoch_5_acc_0.6600.pt
nlp2021-hw1/model/mul/mul_leakyrelu_0.1drop_128hidden_0.0001lr_40batch_1lstmLayer_5clipGrad_epoch_11_acc_0.6620.pt
nlp2021-hw1/model/mul/mul_leakyrelu_0.1drop_128hidden_0.0001lr_40batch_1lstmLayer_5clipGrad_epoch_18_acc_0.6290.pt
nlp2021-hw1/model/mul/mul_leakyrelu_0.1drop_194hidden_0.0001lr_40batch_2lstmLayer_1clipGrad_epoch_9_acc_0.6729999999999999.pt
nlp2021-hw1/model/mul/mul_leakyrelu_0.1drop_194hidden_0.0001lr_40batch_2lstmLayer_5clipGrad_epoch_11_acc_0.6520.pt

nlp2021-hw1/model/diff_leakyrelu_0.2drop_82hidden_0.0001lr_40batch_2lstmLayer_1clipGrad_epoch_15_acc_0.6740-0.656.pt
nlp2021-hw1/model/diff_leakyrelu_0.5drop_82hidden_0.0001lr_40batch_2lstmLayer_1clipGrad_epoch_15_acc_0.6790-0.649.pt
nlp2021-hw1/model/diff_leakyrelu_0.15drop_98hidden_0.0001lr_40batch_2lstmLayer_4clipGrad_epoch_14_acc_0.6760-0.656.pt
nlp2021-hw1/model/difference_leakyrelu__epoch_24.pt
nlp2021-hw1/model/mul_leakyrelu_0.1drop_194hidden_0.0001lr_40batch_2lstmLayer_1clipGrad_epoch_9_acc_0.673.pt
nlp2021-hw1/model/mul_leakyrelu_0.15drop_82hidden_0.0001lr_40batch_2lstmLayer_2clipGrad_epoch_17_acc_0.6820.pt
nlp2021-hw1/data/dev.jsonl
nlp2021-hw1/data/train.jsonl
nlp2021-hw1/logs/server.stderr
nlp2021-hw1/logs/server.stdout
